<header>
    <i class="fas fa-bars mobile-menu-toggle-btn" id="mobile_menu_toggle_btn"
    ></i>
    <nav class="main-nav" id="main_nav">
        <h1 class="logo">
            <span>Acme</span> Web Design
        </h1>
        <ul>
            <li>
                <a href="index.html">Home</a>
            </li>
            <li>
                <a href="about.html">About</a>
            </li>
            <li>
                <a href="services.html">Services</a>
            </li>
        </ul>
    </nav>
</header>

<style>
    .mobile-menu-toggle-btn {
        border: 2px solid #333;
    }

    h1.logo {
        display: none;
    }

    nav.main-nav {
        position: fixed;
        top: 0;
        right: 0;
        height: 100vh;
        background-color: var(--navbar-background-color);
        width: 200px;
        text-align: center;
    }

    nav.main-nav ul {
        position: absolute;
        top: 50%;
        left: 45%;
        transform: translate(-50%, -50%);
    }

    nav.main-nav ul li {
        font-size: 1.2rem;
    }

    nav.main-nav ul li:not(:last-child) {
        margin-bottom: 30px;
    }

    nav.main-nav ul li a {
        color: var(--secondary-text-color);
        transition: color 0.15s ease-in;
        text-transform: uppercase;
    }

    nav.main-nav ul li a:hover {
        color: var(--link-hover-color);
        transition: color 0.15s ease-in;
    }
</style>
